@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
   
body {
  margin: 20px auto;
  font-weight: 300;
  width: 100%;
  height: 100%;
  background-image: url(../images/map.png);
}
.topBar{
  left: 0;
  top: 10px;
  height: 0%;
  width: 100%;
  position: fixed;
  background-color: rgb(0, 0, 0);
}
#friends {
  border-radius: 14px;
  background-color: black;;
}
#msg {
    max-width: 10%;
}

.topBar #buttonLinks{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}    
.topBar button{
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    height: 0%;
}
label {
    margin-bottom: 15px;
}
#btnSR {
    margin-top: 125px;
    padding: 15px;
}
#btnAR {
    margin-top: 20px;
}


  .mainContainer{
    position: relative;
    top: 5ex;
    width: 100%;
    height: 100%;
  }
   
  a:hover {
    text-decoration: underline;
  }
  #title {
    text-align: center;
    color: white;
    margin-bottom: 5vh;
    margin-top: 13vh;
  }

.flex-container{
    display: flex;
}

#request{
  position: relative;
  left: 0em;
  top: 0em;
}

.flex-container > div{
  margin: 30px;
}

#chatbox-wrapper{
  flex-grow: 5;
  width: 100%;
  text-align: left;
  position: relative;
}

.friendList {
  width: 35%;
  color: white;
  flex-grow: 1;
}

#friend-name{
  color: white;
}

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 25px;
    padding: 10px;
    background-color: rgb(9, 9, 9);
    color: white;
    height: 300px;
    width: 45vw;
    overflow: auto;
    border-radius: 14px;
    border: 1px white;

}

#friend-bar{
  width: 100%;
}


#friendbox-container, #requestbox-container{
  font-family: 'Montserrat';
  border-radius: 13px;
  display: none;
  height: 40%;
  width: 40%;
  position: absolute;
  top: 150px;
  left: 30%;
  background-color: #0c0c0c;
}
iframe {
  border-radius: 20px;
}

#friendbox, #requestbox{
  width: 99%;
  height: 99%;
}

#close1, #close2{
  position: absolute;
  right: 6px;
  top: 6px;
  display: inline-block;
  background-image: url(../images/close_icon.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  filter: invert(100%)
}

#friend-bar{
  text-align: center;
}

#friend-tag{
  display: inline-block; 
  height: 35px;
  margin-left: 30%;
  margin-right: 10%;
}

#add-friend{
  margin-bottom: -13px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url(../images/add-friend-icon.png);
  filter: invert(100%);
  background-size: cover;
}


button {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  min-width: 100px;
  margin: 20px;
}
button:hover {
  background-color: rgba(14, 14, 14, 0.692);
  transition: 0.25s ease-in-out;
  border-radius: 15px;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #ffffff;

}

#textsend {
  margin-left: 45vw;
}
#submitmsg{
  background-color: #929292;
  border: 2px solid #ffffff;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 14px;
}


  
#input {
  font-family: Montserrat;
  font-size: 14px;
  color: white;
  line-height: 1.2;
  margin: 0 auto;
  display: inline;
  width: 45vw;
  background: black;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 5px;
  height: 25px;
  
}

#send{
  margin-top: 0;
  height: 38px;
}

#input:focus {
  outline: none;
}