@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400;600&display=swap');

.topbar{
    padding-top: 20px;
    text-align: center;
    position: relative;
}
body {
    font-family: 'Montserrat';
}

#friendsBox{
    display: block;
    text-align: center;
}

#requestsBox, #privatebox, #publicbox{
    display: none;
}

#friendsBox, #requestsBox, #privatebox, #publicbox{
    text-align: center;
    border: solid;
}

#privateRequest div{
    text-align: center;
}
option {
    border-radius: 2px;
    background-color: rgb(31,31,31);
    font-family: 'Montserrat';
    color: white;
}body {
    color: white;
}
label {
    color: white;
    font-family: 'Montserrat';
    margin-top: 30px;
}
select {
    margin-bottom: 13px;
}
button {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
    background-color: rgba(14, 14, 14, 0.692);
    transition: 0.25s ease-in-out;
    border-radius: 15px;
}