.topbar{
    padding-top: 20px;
    text-align: center;
    position: relative;
}

#friendsBox, #requestsBox{
    border: solid;
}

#friendsBox{
    display: block;
}

#requestsBox{
    display: none;
}

#close{
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    background-image: url(../images/close_icon.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}