.topbar{
    padding-top: 20px;
    text-align: center;
    position: relative;
}

#friendsBox, #requestsBox{
    border: solid;
}

#friendsBox{
    display: block;
}

#requestsBox{
    display: none;
}

#publicbox{
    display: none;
}
