@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Montserrat';
}
body {
    background-image: url("../images/map.png");
    background-attachment: fixed;
    color: white;
    transition: 0.35s ease-in-out;
    overflow-x: hidden;
    overscroll-behavior: none;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}
option {
    border-radius: 2px;
    background-color: rgb(31,31,31);
    font-family: 'Montserrat';
    color: white;
}
button {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
button:hover {
    background-color: rgba(14, 14, 14, 0.692);
    transition: 0.25s ease-in-out;
    border-radius: 15px;
}

#pageBody{
    width: 100%;
    height: 20vh;
    margin-top: 14vh;
    text-align: center;
    bottom: 0;
    font-size: 30px;
}

#map{
    left: 0;
    bottom: 0;
    position: fixed;
    height: 94%;
    width: 100%;
}
#reviewBar{
    background-color: rgb(7, 7, 7);
    text-align: center;
    height: 87%;
    width: 22%;
    position: fixed;
    right: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
    z-index: 5;
    border-radius: 20px;
    margin: 10px;
}
#reviewBar div {
    font-size: 16px;
    display: block;
}
#msg {
    box-sizing: border-box;
    font-size: 10px;
    max-width: 200px;
}
.topBar{
    left: 0;
    top: 10px;
    height: 0%;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
}
.topBar #buttonLinks{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    background-color: black;
    height: 6vh;
}    
.topBar button{
    margin-left: 2%;
    margin-right: 2%;
    width: 20%;
    height: 0%;
}
#msg {
    max-width: 10%;
}
pre {
    max-width: 300px;
    padding: 0px 15px;
}
#reviewtext {
    width: 1000%;
    max-height: 400px;
    white-space: pre-wrap;     
    word-wrap: break-word; 
    overflow-y: scroll;
}
/* width */
#reviewtext::-webkit-scrollbar {
    width: 10px;
} 
  /* Track */
#reviewtext::-webkit-scrollbar-track {
    background: rgb(7, 7, 7);
} 
  /* Handle */
#reviewtext::-webkit-scrollbar-thumb {
    background: #888;
}

label {
    margin-bottom: 15px;
}
#btnSR {
    margin-top: 125px;
    padding: 15px;
}
#btnAR {
    margin-top: 20px;
}
select {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
}
select:hover {
    color: rgb(124, 124, 124);
    transition: 0.15s ease-in-out;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
#lightD {
    position: relative;
    top: 65vh;
    padding: 10px;
}
textarea {
    background-color: rgba(109, 109, 109, 0.26);
    color:white;
    border-radius: 12px;
    border-color: rgb(27, 27, 27);
    padding: 8px;
    width: 200px;
    height: 14px;
    overflow: hidden;

}
input {
    background-color: rgba(109, 109, 109, 0.26);
    color:white;
    border-radius: 12px;
    border-color: rgb(27, 27, 27);
    padding: 8px;
    width: 200px;
    height: 16px;

}
#review[type=text] {

    width: 500px;
    transition:height 0.2s ease-in-out;
}
#rating{
    -webkit-appearance: none;
    appearance: none;
    height: 15px; 
    background: #000000; 
    outline: none; 
    opacity: 1; 
}
textarea:focus {
    outline: none;
    border: 1px solid rgb(255, 32, 32);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 2px; 
    height: 2px; 
    background: #04AA6D; 
    cursor: pointer; 
    }
#review[type=text]:focus {
    height: 27vh;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}

p {
    font-size: 20px;
}
