@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.wrapper{
    text-align: center;
}
body {
    color: white;
}
label {
    color: white;
    font-family: 'Montserrat';
}