/* timetable css */
#timetable, th, td
{
    border: 2px solid rgb(117, 117, 117);
    text-align: center;
}

#timetable
{
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;   
}

th, td
{
    height: 80px;
    overflow-wrap: break-word;
}